*{
  text-align: center;
}
input[type=text]{
  width: 99%;
  height: 25px;
  text-align: left;
}

input[type="text"]::placeholder{
  text-align: left;
}
.labelcss {
  
  text-align:left ;
  display: block;
  margin: 10px 0;
}
.forms{
  border-style: groove;
  background-color: #E6E6FA;
}
.form-body{
  padding:5% 2%;
}

.inptext {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
}
.option-v{
  text-align: left;
}

textarea {
  height: 100px;
  background-color: #f0f8ff;
  width: 100%;
}
textarea::placeholder{
  text-align: left;
  padding: 2% 0 2% 2%;
}

button {
  width: 20%;
  display: block;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: #0e0f0f;
  background-color: #efefef;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  cursor: pointer;
}

.cred {
  color: #fff;
  background-color: #dc3545;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.cgreen {
  color: #fff;
  background-color: #28a745;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.dnone {
  display: none;
}